version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: notification_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - notification_service
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d notification_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data
    networks:
      - notification_service
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

  notification_service:
    container_name: notification_service
    build: .
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/notification_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=8080
      - MASTER_KEY=4357b62adb0f4adf71c5e09a8ab6925e018655f8e2b1f41be4e26d6c2d3cfbea
    networks:
      - notification_service

volumes:
  postgres_data:
  redis_data:
networks:
  notification_service:
    driver: bridge
